<!DOCTYPE html>
<html>
<head>
<title>Match Your Friends!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

<script>
function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
   window.fbAsyncInit = function() {
  FB.init({
    appId      : '284519508381624',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.0' // use version 2.0
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  
  var uid1;
  var uid2;
  var pathname = window.location.pathname;
  var splits = pathname.split("=");
  var uid3 = splits[1];

  function testAPI() {

    FB.api('/me/friends', function (response) {
    	var friendList = response.data;

    	for (var i = 0; i < friendList.length; i++) {
    		FB.api('/'+friendList[i].id+'/picture', function (my_response) {
    			var img = document.createElement("img");
    			img.src = "" + my_response.data.url;

    			document.body.appendChild(img);

  			});

    	}
      var friendindex1 = Math.floor(Math.random() * friendList.length);
      var friendindex2 = Math.floor(Math.random() * friendList.length);
      while(friendindex1 == friendindex2) {
        friendindex2 = Math.floor(Math.random() * friendList.length);
      }

      uid1 = friendList[friendindex1].id;
      uid2 = friendList[friendindex2].id;

      document.getElementById("id1").innerHTML = friendList[friendindex1].id;
      document.getElementById("id2").innerHTML = friendList[friendindex2].id;
      document.getElementById("name1").innerHTML = friendList[friendindex1].name;
      document.getElementById("name2").innerHTML = friendList[friendindex2].name;
      FB.api('/'+friendList[friendindex1].id+'/picture', function (my_response) {
          var img = document.createElement("img");
          img.src = "" + my_response.data.url;
          img.setAttribute("style", "height: 100px; width: 100px"); 
          document.getElementById("FBPic1").appendChild(img);
        });
      FB.api('/'+friendList[friendindex2].id+'/picture', function (my_response) {
          var img = document.createElement("img");
          img.src = "" + my_response.data.url;
          img.setAttribute("style", "height: 100px; width: 100px"); 
          document.getElementById("FBPic2").appendChild(img);
        });
    });

  }

  	function nextPage(){
  		//uid3 is the person who made the recommendation
  		window.location.href = "/message/&" + uid1 + "&" + uid2 + "&" + uid3;
  	}
</script>
</head>
<body>
<div style="height:50px, width:500px;"></div>
<div style="height:500px, width:500px, margin: 30px, display:inline-block;">
  <div style="float:left;">
    <div id="FBPic1" style="height:100px"></div>
    <p id="name1"></p>
  </div>
  <div style="float:right, margin:5px;">
    <div id="FBPic2" style="height:100px"></div>
    <p id="name2"></p>
  </div>
</div>

<p id="id1" style="visibility:hidden"></p>
<p id="id2" style="visibility:hidden"></p>


<div>
<button type="button" class="btn btn-default btn-lg">
  <span> <i class="fa fa-thumbs-o-down fa-5x"></i></span>
</button>
<!-- <button type="button" class="btn btn-default btn-lg">
  <span> <i class="fa fa-info fa-5x"></i></span>
</button> -->
<button type="button" class="btn btn-default btn-lg"  onclick="nextPage();">
  <span> <i class="fa fa-thumbs-o-up fa-5x"></i></span>
</button>
</div>
<br/>
<p>Friends using SetEmUp:</p>

</body>
</html>