<!DOCTYPE html>
<html>
<head>
<title>Match Your Friends!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

<script>
seen = [];
pairs = [];
var femaleFriends = [];
var maleFriends = [];


window.onload=function(){
  setTimeout(function(){notify()}, 15000);
};

function notify () {
  var not = document.getElementById("notification");
  not.style.display = 'inline-block';
}

function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
   window.fbAsyncInit = function() {
  FB.init({
    appId      : '284519508381624',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.0' // use version 2.0
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  
  var uid1;
  var uid2;
  var pathname = window.location.pathname;
  var splits = pathname.split("=");
  var uid3 = splits[1];

  function testAPI() {
    var x = document.getElementById("matchesSeen").innerHTML;
    var splits = x.split(/[\s,]+/g)
    var len = splits.length;
    for (var i = 1; i < len-1; i+=2) {
      var obj = {"u1": splits[i], "u2": splits[i+1]}
      seen.push(obj);
    }
    FB.api('/me?fields=friends.fields(gender,id,name)', function (response) {
      var friendList = response.friends.data;

      for (var i = 0; i < friendList.length; i++) {

        if(friendList[i].gender == "male"){
          maleFriends.push(friendList[i]);
        } else {
          femaleFriends.push(friendList[i]);        
        }
        FB.api('/'+friendList[i].id+'/picture?type=square', function (my_response) {
          var img = document.createElement("img");
          img.src = "" + my_response.data.url;
          document.getElementById("FriendArray").appendChild(img);
        });
      }
      for (var i = 0; i < maleFriends.length; i++) {
        for (var j = 0; j < femaleFriends.length; j++) {
          uid1 = maleFriends[i].id;
          uid2 = femaleFriends[j].id;

          var result = $.grep(seen, function(e){ return (e.u1 == uid1 && e.u2 == uid2); });
          if (result.length == 0) {
            var obj = {"index1": i, "index2": j}
            pairs.push(obj);
          }
        }
      }
      var counter = pairs.length, temp, index;
      while (counter > 0) {
          index = Math.floor(Math.random() * counter);
          counter--;
          temp = pairs[counter];
          pairs[counter] = pairs[index];
          pairs[index] = temp;
      }
      reloadPair();
    }); 
  }

  function reloadPair() {
    document.getElementById("FBPic1").innerHTML = "";
    document.getElementById("FBPic2").innerHTML = "";
    var pair = pairs.pop();
    if (pair) {
      var friendindex1 = pair.index1;
      var friendindex2 = pair.index2;
      uid1 = maleFriends[friendindex1].id;
      uid2 = femaleFriends[friendindex2].id;
      document.getElementById("id1").innerHTML = uid1;
      document.getElementById("id2").innerHTML = uid2;
      document.getElementById("name1").innerHTML = maleFriends[friendindex1].name;
      document.getElementById("name2").innerHTML = femaleFriends[friendindex2].name;
      FB.api('/'+uid1+'/picture?type=large', function (my_response) {
        var img = document.createElement("img");
        img.src = "" + my_response.data.url;
        img.setAttribute("style", "height: 150px; width: 150px"); 
        document.getElementById("FBPic1").appendChild(img);
      });

      FB.api('/'+uid2+'/picture?type=large', function (my_response) {
        var img = document.createElement("img");
        img.src = "" + my_response.data.url;
        img.setAttribute("style", "height: 150px; width: 150px"); 
        document.getElementById("FBPic2").appendChild(img);
      });
    }
    else {
      document.getElementById("FBPic1").innerHTML = "You win!";
    }
  }


  function goodMatch() {
    var path = window.location.pathname;
    var splits = path.split("=");
    var loggedIn = splits[1];
    var uid1 = document.getElementById("id1").innerHTML;
    var uid2 = document.getElementById("id2").innerHTML;
    var obj = {"u1": uid1, "u2": uid2}
    seen.push(obj);
    var url_call = "/match/"+uid1+"/"+uid2+"/"+loggedIn+"/good";
    reloadPair();
    $.post(url_call);
  }

  function badMatch() {
    var path = window.location.pathname;
    var splits = path.split("=");
    var loggedIn = splits[1];
    var uid1 = document.getElementById("id1").innerHTML;
    var uid2 = document.getElementById("id2").innerHTML;
    var obj = {"u1": uid1, "u2": uid2}
    seen.push(obj);
    var url_call = "/match/"+uid1+"/"+uid2+"/"+loggedIn+"/bad";
    reloadPair();
    $.post(url_call);
  }

  function toMessagePage(){
  	window.location.href = "/message/&" + uid1 + "&" + uid2 + "&" + uid3;
  }

</script>
</head>
<body>
<div id="switchScreen" class="switch" onclick="toMessagePage()">
<button type="button" id="notification" class="btn btn-default" onclick="toMessagePage()" style="display:none">
  <span> <i class="fa fa-smile-o fa-5x"></i></span>
</button>
<p>Switch to Messages</p>
</div>
<div style="height:100px, width:500px;"></div>
<div style="height:500px, width:500px, margin: 30px, display:inline-block;">
  <div style="float:left;">
    <div id="FBPic1" style="height:150px"></div>
    <p id="name1"></p>
  </div>
  <div style="float:right, margin:5px;">
    <div id="FBPic2" style="height:150px"></div>
    <p id="name2"></p>
  </div>
</div>

<p id="id1" style="visibility:hidden"></p>
<p id="id2" style="visibility:hidden"></p>


<div>
<button type="button" class="btn btn-default btn-lg" onclick="badMatch()">
  <span> <i class="fa fa-thumbs-o-down fa-5x"></i></span>
</button>
<!-- <button type="button" class="btn btn-default btn-lg">
  <span> <i class="fa fa-info fa-5x"></i></span>
</button>
-->



<button type="button" class="btn btn-default btn-lg" onclick="goodMatch()">
  <span> <i class="fa fa-thumbs-o-up fa-5x"></i></span>
</button>



</div>
<br/>
<p>Friends using SetEmUp:</p>
<div id="FriendArray"></div>
<div id="matchesSeen" class="hidden">
  {{#each seen}}
    {{uid1}},{{uid2}}
  {{/each}}
</div>
</body>
</html>