.fixedWidth {
    width: 120px;
    height: 100px;
}

hr {
     border: none;
     height: 2px;
     color: #333;
     background-color: #333;
}

.pauseButtons{
    visibility: hidden;
    margin-left: -45px;
}

.playButtons{
    margin-left: 90px;
}

#stopButton{
    visibility: hidden;
    margin-left: 40px;
}

.switch {
	width: 100%;
	height: 80px;
	background-color: #A60000;
	text-align: center;
    position: fixed;
    top:0px;
    color: white;

}

.ourhidden {
    visibility: hidden;
}

h1 {
    margin: 0px;
}

#messagesText {
    font-size: 58pt;
    font-family: "Brush Script MT", cursive;
    color: white;
    display: inline-block;
    margin: 0 auto;
}

.displayMatch img {
    width: 20vw;
    height: 20vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5vw;
}

.names {
    font-size: 30pt;
    width: 100%;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-weight: bold;
}

.nothidden {
    visibility: visible;
    cursor: pointer;
    width: 100vw;
}

tr {
    width: 100vw;
    margin: 0;
}

td {
    margin: 0 auto;
}

.matchlink {
    width: 100vw;
    color: #A60000;
    text-align: center;
    font-size: 40pt;
    margin: 0px;
    /*border-style: groove;
    border-width: 5px;*/
}

#backbutton {
    float: left;
}

.centertext {
    text-align: center;
}

.visibleimage {
    visibility: visible;
}

.matchListContainer {
    text-align: center;
}

.matchImage {
    height: 100px; 
    width: 100px;
}

#messageList {
    height:0px;
}

.myVid {
    position: fixed;
    text-align: center;
}

#vidButtons{
    top: 130px;
    right: 160px;
}

#recordButton{
    margin-right: -100px;
    visibility: hidden;
}

#webcam_stream{
    top: 165px;
    right: 15px;
}

#match{
    z-index: -1;
    position: relative;
    top: 80px;
    background-color: #ff6440;

}

#darkness{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    z-index: 900;
    opacity: .8;
    visibility: hidden;
}

#videoplaybackdiv{
    position: fixed;
    top: 190px;
    right: 40%;
    z-index: 901;
}

#submission {
    position: fixed;

    border-left: solid #ff6440 30px;
    bottom: 0;
    border-bottom: solid #ff6440 20px;
    border-top: solid #ff6440 20px;
    border-right: solid #ff6440 160px;

}

#conversation {
    z-index: -2;
    margin-top: 90px;
    margin-left: 10px;
    margin-bottom: 70px;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.namesDiv {
    margin: 0px;
    display: inline-block;
    width: 49.2vw;
    text-align: center;
    margin-top: 20px;
}

.faOverride {
    font-size: 13em;
}

.buttonSpacer {
    display: inline-block;
    padding-left: 2vw;
    padding-right: 2vw;
}

.outerButtonDiv {
    text-align: center;
}

.hidden0{
    height: 0px;
}

.inline {
    
}

.myButton {
    position: absolute;
    height: 60px;
    width: 100px;
    right:10px;
    top: 10px;
    font-size: 2em;
    text-align: center;
}

.myButton2 {
    position: absolute;
    height: 60px;
    width: 100px;
    left:10px;
    top: 10px;
    font-size: 2em;
    text-align: center;
}

.messageBody {
    font-weight: bold;
    color: white;
}

#match {
    font-size: 18pt;
    margin-bottom: 20px;
}

#conversation {
    font-size: 14pt;
}


.toMessagesText {
    font-size: 14pt;
    margin-top: -10px;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-weight: bold;
}

body {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    background-color: #ff6440;
    color: white;
    z-index: 800;
    margin: 0px;
}

.fa-thumbs-o-up {
    color: #14D100;
}

.fa-thumbs-o-down {
    color: #FF4040;
}

.fa-heart-o {
    color: red;
}

.notifyText {
    width: 90%;
    font-size: 12pt;
}


.noscroll {
    overflow: hidden;
}

.bigContainer {
    margin-top: 90px;
}

.quarter {
    width: 25%;
}

.half {
    width: 50%;
}
