.fixedWidth {
    width: 120px;
    height: 100px;
}

hr {
     border: none;
     height: 2px;
     color: #333;
     background-color: #333;
}

.switch {
	width: 100%;
	height: 120px;
	background-color: #5882FA;
	text-align: center;
}

.ourhidden {
    visibility: hidden;
}

.nothidden {
    display: block;
    visibility: visible;
    cursor: pointer;
}

.matchlink {
    color: blue;
    text-align: center;
    font-size: 200%;
    border-style: groove;
    border-width: 5px;
}

.centertext {
    text-align: center;
}

.visibleimage {
    visibility: visible;
}